@keyframes animation-1 {
    0% {
      transform: translateY(0) scale(1);
    }
  
    50% {
      transform: translateY(-5px) scale(1.05);
    }
  
    0% {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes animation-2 {
    0% {
      transform: translateY(0) scale(1) rotate(0);
    }
  
    25% {
      transform: translateY(-5px) scale(1.1) rotate(-5deg);
    }
  
    75% {
      transform: translateY(-5px) scale(1.1) rotate(5deg);
    }
  
    0% {
      transform: translateY(0) scale(1) rotate(0);
    }
  }

  @keyframes animation-3 {
    0% {
      transform: translateY(0);
    }
  
    25% {
      transform: translateY(-5px);
    }
  
    75% {
      transform: translateY(5px);
    }
  
    0% {
      transform: translateY(0);
    }
  }

  @keyframes message {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }